<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Albums de Damso</title>
    <link rel="stylesheet" href="/asset/css/style.css" />
  </head>
  <body class="album-bg">
    <header class="page-header">
      <img
        src="/asset/img/Spotify_logo.png"
        class="spotify-logo-small"
        alt="Logo Spotify"
      />
      <h1>Albums de Damso</h1>
    </header>

    <main class="album-grid">
      {{range .}}
      <div class="album-card">
        <img src="{{(index .Images 0).URL}}" class="album-cover" />
        <h3>{{.Name}}</h3>

        <div class="album-info">
          <p>📅 {{.ReleaseDate}}</p>
          <p>🎧 {{.TotalTracks}} titres</p>
        </div>
      </div>
      {{end}}
    </main>

    <a href="/" class="back-btn">⬅ Retour</a>
  </body>
</html>
